.header{
    text-align: center;
    padding: 20px;
    margin-bottom:20px;
}

.header__header1{
    color:#EF9A9A;
    text-shadow: 10px 6px 4px rgba(233,136,136,0.6);
}

.header__newHeader1{
    color:#CC66FF;

}