body{
    background-color:black;
    max-width:1000px;
    margin:auto;
    font-family: 'Cormorant Garamond', serif;
}

html{
    box-sizing: border-box;
}
*,:after, :before{
    box-sizing: inherit;
}






/* 
.container{
    overflow-x:auto;
    border-top: 1px solid rgba(255, 192, 203, 0.452);

    
} */










